@import url(http://fonts.googleapis.com/css?family=Roboto:900,400,700,400italic,300italic,500,100italic,500italic,300,700italic,100,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,900);
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: 'Lato', 'Roboto', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
  min-height: 100%;
  font-size: 16px;
  font-weight: 100;
  line-height: 25.88854382px;
  color: #333333;
  background: #f2f2f2;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  overflow: visible;
}
input[type="submit"],
button {
  outline: none;
}
input[type="submit"]:focus,
button:focus {
  outline: none;
}
a {
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  color: #0095b3;
  text-decoration: underline;
}
a:hover {
  color: #ff6666;
  text-decoration: none;
}
.ib {
  display: inline-block;
  vertical-align: middle;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.fullheight {
  height: 100%;
}
.minfullheight {
  min-height: 100%;
}
.hidden {
  visibility: hidden;
}
.dis-none {
  display: none;
}
.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.btn {
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 10px auto 0;
  max-width: 100px;
  padding: 7px 16px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.btn:hover {
  background: rgba(250, 250, 250, 0.99);
  color: #ff6666;
}
.main-wrap {
  margin-top: 60px;
  z-index: 100;
}
.topbar {
  background: #ff6666;
  color: #fff;
  width: 100%;
  z-index: 200;
  position: fixed;
  top: 0;
  height: 60px;
  box-shadow: 0 1px 9px 0px #4d4d4d;
}
.topbar .logo {
  font-size: 30px;
  margin-top: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: none;
}
.topbar .auth-button {
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 10px auto 0;
  max-width: 100px;
  padding: 7px 16px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.topbar .auth-button:hover {
  background: rgba(250, 250, 250, 0.99);
  color: #ff6666;
}
.topbar .auth-button:hover {
  background: rgba(250, 250, 250, 0.99);
  color: #ff6666;
}
.topbar .username {
  margin-top: 15px;
}
.topbar .username a.username-link {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.topbar .username a.username-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
section.card {
  background: #fff;
  box-shadow: 0 0 12px 2px #ccc;
  height: 250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 24px;
  -webkit-transition: box-shadow 0.25s;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}
section.card:hover {
  box-shadow: 0 0 14px 3px #bfbfbf;
}
section.card.no-data {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 36px;
  padding-left: 48px;
  padding-right: 48px;
  height: auto;
  min-height: 250px;
  text-align: center;
}
section.card.no-data p {
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
  max-width: 60%;
  min-width: 200px;
}
section.card .main-img {
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  width: 250px;
  height: 100%;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
section.card article.content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 18px;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  width: 55%;
  overflow-y: hidden;
  max-height: 100%;
}
section.card article.content h3.artist-name {
  font-size: 24px;
  font-weight: 100;
}
section.card article.content h3.artist-name a.artist-name-link {
  text-decoration: none;
  color: #333;
}
section.card article.content h3.artist-name a.artist-name-link:hover {
  color: #00aacc;
}
section.card article.content div.tags {
  font-size: 10.5px;
  font-weight: 900;
  color: #00aacc;
}
section.card article.content div.tags a.tag {
  margin-left: 12px;
  text-decoration: none;
}
section.card article.content div.tags a.tag:first-child {
  margin-left: 6px;
}
section.card article.content div.tags a.tag:nth-of-type(2) {
  color: #00bbe0;
}
section.card article.content div.tags a.tag:nth-of-type(3) {
  color: #00ccf5;
}
section.card article.content div.tags a.tag:hover {
  text-decoration: underline;
}
section.card article.content nav.card-nav {
  width: 100%;
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
}
section.card article.content nav.card-nav div.nav-item {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border 0.28s;
  -moz-transition: border 0.28s;
  -o-transition: border 0.28s;
  transition: border 0.28s;
  font-size: 15px;
  vertical-align: top;
  border-bottom: 1px solid #333;
  width: 28%;
  margin-left: 6px;
}
section.card article.content nav.card-nav div.nav-item:first-child {
  margin-left: 0;
}
section.card article.content nav.card-nav div.nav-item.active {
  border-bottom: 4px solid #ff6666;
}
section.card article.content div.content-area {
  width: 100%;
  overflow-y: scroll;
}
section.card article.content div.content-area div.bio {
  font-size: 12px;
  line-height: 19.4172px;
  font-weight: 300;
  overflow-y: scroll;
}
section.card article.content div.content-area div.bio a.read-more-link {
  display: block;
  font-size: 14px;
}
@media screen and (max-width : 991px) and (min-width : 760px) {
  section.card article.content {
    width: 65%;
  }
}
@media screen and (max-width : 1199px) and (min-width : 992px) {
  section.card article.content {
    width: 68%;
  }
}
@media screen and (min-width : 1340px) {
  section.card article.content {
    width: 60%;
  }
}
@media screen and (min-width : 1620px) {
  section.card article.content {
    width: 65%;
  }
}
@media screen and (min-width : 1920px) {
  section.card article.content {
    width: 70%;
  }
}
@media screen and (min-width : 2275px) {
  section.card article.content {
    width: 75%;
  }
}
@media screen and (max-width: 590px) {
  section.card {
    height: 154.50219393px;
  }
  section.card .main-img {
    width: 154.50219393px;
  }
  section.card article.content {
    padding: 12px;
  }
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer a {
  color: #00aacc;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
footer a:hover {
  color: #ff6666;
  text-decoration: none;
}
footer .socials {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
footer .socials .social-btn {
  text-align: center;
  display: block;
  margin: 10px auto 0;
  width: 100px;
  padding: 0;
}
footer .socials .social-btn iframe {
  margin-left: 10px;
}
footer .socials .social-btn:last-child {
  margin-top: -10px;
}
div.devlog {
  border-radius: 7.5px;
  background: rgba(100, 100, 100, 0.5);
  color: #dcdcdc;
  font-family: monospace;
  font-size: 12px;
  line-height: 19.41640787px;
  max-width: 35%;
  max-height: 250px;
  overflow-y: scroll;
  padding: 15px;
  position: fixed;
  bottom: 5%;
  left: 10px;
  width: 100%;
  z-index: 900;
}
.clear-storage-btn {
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 10px auto 0;
  max-width: 100px;
  padding: 7px 16px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  font-size: 11px;
  padding: 5px 12px;
  display: block;
  max-width: 135px;
}
.clear-storage-btn:hover {
  background: rgba(250, 250, 250, 0.99);
  color: #ff6666;
}
.clear-storage-btn:hover {
  background: rgba(250, 250, 250, 0.99);
  color: #ff6666;
}
