@import url(http://fonts.googleapis.com/css?family=Roboto:900,400,700,400italic,300italic,500,100italic,500italic,300,700italic,100,900italic);
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: 'Raleway', 'Roboto', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.88854382px;
  color: #333333;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  overflow: visible;
}
input[type="submit"],
button {
  outline: none;
}
input[type="submit"]:focus,
button:focus {
  outline: none;
}
.box {
  -webkit-box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24);
}
#floaty {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: fixed;
  left: 0;
  width: 12%;
  min-width: 220px;
  min-height: 100%;
  height: 100%;
  padding: 100px 10px 0;
  background-color: #3f51b5;
  z-index: 900;
  text-align: center;
  -webkit-box-shadow: 0 0 0 15px #2b387c, 0 0 0 20px #252f69, 0 0 0 23px #ffc107;
  box-shadow: 0 0 0 15px #2b387c, 0 0 0 20px #252f69, 0 0 0 23px #ffc107;
  color: #fff;
}
#floaty h1 {
  font-size: 28px;
  font-weight: 300;
}
#floaty .descrip,
#floaty .instructions {
  font-size: 14px;
  line-height: 22.65247584px;
  width: 98%;
  margin: 10px auto;
}
#floaty .controls {
  padding: 10px 0;
}
#floaty .controls #userInput {
  -webkit-transition: border 0.55s ease;
  transition: border 0.55s ease;
  width: 80%;
  margin: 0 auto;
  display: block;
  background: none;
  color: #fff;
  font-size: 13px;
  font-weight: 100;
  padding: 8px 12px;
  border: 0;
  border-bottom: 1px solid #fff;
}
#floaty .controls #userInput::-webkit-input-placeholder {
  color: #fff;
}
#floaty .controls #userInput:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#floaty .controls #userInput::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#floaty .controls #userInput:-ms-input-placeholder {
  color: #fff;
}
#floaty .controls #userInput:focus {
  outline: none;
  border-bottom: 3px solid #fff;
}
#floaty .controls #submitBtn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
  width: 80%;
  margin: 20px auto 0;
  padding: 8px;
  display: block;
  background: none;
  text-align: center;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 8px;
}
#floaty .controls #submitBtn:hover {
  background: #fff;
  color: #3f51b5;
  border: 1px solid #ffc107;
}
#floaty .controls #submitBtn:focus {
  outline: none;
}
.renderbox {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  left: 220px;
  padding-left: -220px;
  width: 88%;
  height: 100%;
  top: 0;
  background-repeat: repeat;
  opacity: 0.25;
}
.renderbox .wrap {
  overflow: hidden;
  margin: 5px;
}
.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  border: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.box .boxInner {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  overflow: hidden;
}
.box .boxInner .boxInnerInner img {
  width: 100%;
}
body.no-touch .boxInner:hover .titleBox,
body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}
@media only screen and (max-width: 480px) {
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width: 650px) and (min-width: 481px) {
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width: 1050px) and (min-width: 651px) {
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width: 1290px) and (min-width: 1051px) {
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}
