<!DOCTYPE HTML>
<html ng-app="app">
<head>

	<title>torrent.fm</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<meta name="description" content="A small Angular app to make it easier to download your last.fm recommendations.">
	<meta name="keywords" content="last.fm, torrents, download, music, Angular.js, Dave Lunny, web development, UI Design">
	<meta name="author" content="Dave Lunny">

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">


	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="js/lastfm.api.min.js"></script>
	<script type="text/javascript" src="js/purl.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,900' rel='stylesheet' type='text/css'>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/style.css"	/>

</head>
<body ng-controller="Controller">
		
		<div class="topbar">
			<div class="page-container container-fluid">
				<div class="row">
					<div class="col-xs-3 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-0">
						<div class="logo">
							t<span class="hidden-xs">orrent</span>.fm
						</div>
					</div>
					<div 	class="col-xs-5 col-xs-offset-4 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-7" 
							style="text-align:right;">

							<div 	ng-show="authorized" 
									class="username">
									<a class="username-link" ng-href="http://last.fm/user/{{username}}" target="_blank">{{username}}</a>
							</div>
							<div 	ng-show="!authorized" class="pull-right">
								<div 	class="auth-button"
										ng-click="authUser()">	
									Login
								</div>
							</div>

					</div>
				</div>	
			</div>
		</div>

		<div class="page-container container-fluid main-wrap">
			<div class="row" ng-if="!lastfmSession">
				<div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3 ">
					<div class="row">
						<div class="col-xs-12">
							<section class="card no-data">
								<h2>Alert!</h2>
								<p>
									You need to authorize torrent.fm to use this (awesome) app.
								</p>
								<p>
									You can do this by clicking the login button at the top on the right.
								</p>
								<p>
									All this does is goes over to last.fm real quick, makes you login (if you aren't already) and then allows access for this app to access your profile.
								</p>
								<p>
									We gotta do it like this because last.fm's API requires that you authenticate to access a users recs.
								</p>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="lastfmSession">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-0 ">
					<div class="row">


						<div class="col-xs-12 col-lg-6" ng-repeat="artist in artists track by $index">
							<section class="card">
								<div class="main-img" style="background-image: url({{artist.img}});"></div>
								<article class="content">
									<h3 class="artist-name">{{artist.name}}</h3>
									<div class="tags">
										<span 	class="tag" 
												ng-repeat="tag in artist.tags">
												{{tag}}
										</span>
									</div>

									<nav class="card-nav">
										<div 	class="nav-item"
												ng-class="{active: navs[$index].active == 1 }"
												ng-click="navs[$index].active = 1">
											Bio
										</div>
										<div 	class="nav-item"
												ng-class="{active: navs[$index].active == 2 }"
												ng-click="navs[$index].active = 2">
											Albums
										</div>
										<div 	class="nav-item"
												ng-class="{active: navs[$index].active == 3 }"
												ng-click="navs[$index].active = 3">
											Tracks
										</div>
									</nav>

									<div class="content-area" ng-switch="navs[$index].active">
										<div class="bio" ng-switch-when="1">
											<p ng-bind-html="artist.bio"></p>
										</div>
										<div ng-switch-when="2">
											<p ng-hide="artist.showAlbums">
												Unable to display albums!
											</p>
											<ul >
												<li ng-repeat="album in artist.albumInfo">
													<a ng-href="http://google.ca/#q={{album.urlname}}+torrent" target="">	
													{{album.name}}
													</a>
													<div>
														<span style="font-size: 70%;">Plays: </span>
														{{album.plays}}
													</div>
												</li>
											</ul>
										</div>
										<div ng-switch-when="3">Links to torrents of artists' top tracks coming soon!</div>
									</div>	

								</article>
							</section>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<footer class="col-xs-12">
					Created by <a href="http://twitter.com/dave_lunny">Dave Lunny</a> in the beautiful year 2014
					<div style="margin: 5px; font-size:80%;">
						Special thanks to <a href="https://last.fm/">last.fm</a> for hooking up the data. <a href="http://getbootstrap.com/">Bootstrap</a> on the front-end and <a href="https://angularjs.org/">AngularJS</a> for functionality/API calls.
					</div>
					<div style="margin: 5px; font-size:80%;">
						This project can be found on <a href="https://github.com/himynameisdave/torrent.fm">GitHub</a>
					</div>
				</footer>
			</div>
		</div>	
	
</body>
</html>